.artworkSection {
  padding: 3rem 2rem;
  text-align: center;
  scroll-margin-top: 2rem;
  background-color: #FEF3E2;
}
  
.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #FA812F;
}