@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-inter), sans-serif; /* Default body font */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2 {
  font-family: var(--font-merriweather), serif;
  font-weight: bold;
  color: #fa812f; /* Example heading color */
}